@model batterup.Models.ViewModel;

@{
    ViewData["Title"] = "Batter Up";
    ViewBag.PageTitle = "Batter's Average Calculator";
}

<div>
    <h1>@ViewBag.PageTitle</h1>
     @using (Html.BeginForm("AddGame", "Home", FormMethod.Post))
    {
        @Html.Label("Enter number of hits: ")
     	@Html.TextBoxFor(model => model.hits)
        @Html.ValidationMessageFor(model => model.hits)<br/>
        @Html.Label("Enter number of at bats: ")
        @Html.TextBoxFor(model => model.atbats)
        @Html.ValidationMessageFor(model => model.atbats)<br/>
        @Html.Label("Last game (check the box): ")
        @Html.CheckBoxFor(model => model.complete)<br/>
        <button type="submit">Add</button>
    }
    @if(ViewBag.Hits != null){
        <p>Hits: @ViewBag.Hits</p>
    }
    @if(ViewBag.AtBats != null){
        <p>At Bats: @ViewBag.AtBats</p>
    }
    @if(ViewBag.Series != null){
        <p>Series length: @ViewBag.Series</p>
    }

</div>


